@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,300;0,700;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #9f1239;
    height: fit-content;
}

.container{
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #9f1239;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas:
    "dashboard header"
    "dashboard content";
}

.header{
    background-color: #fff1f2;
    grid-area: header;
    display: grid;
    padding: 2rem;
    border-bottom: 2px solid rgb(197, 101, 101);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "searchfield topright"
    "hellomessage buttons";
}

.header input{
    width: 70%;
    height: 0.2rem;
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 15px 15px;
    border: none;
    background-color: rgb(252, 155, 155);
}

.header input:focus{
    outline: none;
}

.searchfield{
    grid-area: searchfield;
    display: flex;
    align-items: center;
}

.topright{
    grid-area: topright;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.topright > img{
    height: 3rem;
}

.hellomessage{
    grid-area: hellomessage;
    display: flex;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons button{
    width: 8rem;
    height: 3rem;
    border-radius: 25px;
    box-shadow: -2px 2px 2px rgb(138, 126, 126);
}

.buttons button:hover{
    transform: translateY(-4px);
    box-shadow: -2px 4px 2px rgb(138, 126, 126);
}

.hithere{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.hithere > .adminname{
    margin-top: 2rem;
    font-size: 2rem;
}


button{
    font-family: inherit;
    grid-area: buttons;
    color: white;
    background-color: #9f1239;
}

img{
    border-radius: 50%;
    background-color: #9f1239;
}

.dashboard{
    background-color: #9f1239;
    grid-area: dashboard;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
}

.dashboard a{
    text-decoration: none;
    color: white;
}

.dashboard a:hover{
    text-decoration: underline;
}

.dashtitle{
    font-size: 2rem;
}

.content{
    background-color: #fda4af;
    grid-area: content;
    display: grid;
    padding: 1rem;
    grid-gap: 1.5rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20px 1fr 20px 1fr;
    grid-template-areas:
    "projecttitle announcementtitle"
    "projects announcements"
    "projects trendingtitle"
    "projects trending";
}


.projects{
    grid-area: projects;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    background-color: #fda4af;
}


.card{
    border-radius: 20px;
    background-color: #fff1f2;
    font-size: 1.3rem;
    padding: 2rem;
    margin: 1rem;
    box-shadow: -8px 0px 0px rgb(226, 155, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
    "cardtext cardtext"
     ". cardicon";
}

.card:hover{
    transform: translateX(-8px);
    box-shadow: -0px 2px 2px 2px rgb(230, 196, 5);
}

.cardtext{
    grid-area: cardtext;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cardicon{
    grid-area: cardicon;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cardicon > img {
    height: 2.2rem;
}

.announcements{
    border-radius: 5%;
    margin: 1rem;
    background-color: #fff1f2;
    grid-area: announcements;
    display: grid;
    grid-template-rows: 2fr 1rem 2fr 1rem 2fr;
    box-shadow: 1px 1px 1px 1px rgb(197, 101, 101);
}

.message{
    border: 2px solid transparent;
    align-self:center;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
}
hr{
    width: 95%;
}

.message > .overskrift{
    align-self: flex-start;

}
.overskrift{
    font-weight: 600;
}

.announcementtitle{
    background-color: #fda4af;
    grid-area: announcementtitle;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 1rem;
}
.trendingtitle{
    grid-area: trendingtitle;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 1rem;
}
.projecttitle{
    margin-bottom: -1rem;
    grid-area: projecttitle;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 1rem;
}

.trending{
    border-radius: 5%;
    margin: 1rem;
    padding: 1rem;
    grid-area: trending;
    display: grid;
    justify-content: space-evenly;
    background-color: #fff1f2;
    box-shadow: 1px 1px 1px 1px rgb(197, 101, 101);
}

.trending .trendingtitle{
    background-color: #fda4af;

}

.hellomessage > img {
    height: 7rem;
}

.who{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.who > img{
    height: 4rem;
    margin-right: 2rem;
}


.who .text {
    opacity: 1;
}

#handle{
    opacity: 0.7;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}


@media only screen and (max-width:1000px) {

    .container{
        height: 100vh;
        font-family: 'Lato', sans-serif;
        font-family: 'Roboto', sans-serif;
        background-color: #9f1239;
        display: grid;
        grid-template-columns: 2fr 4fr;
        grid-template-rows: 1fr 6fr;
        grid-template-areas:
        "dashboard header"
        "dashboard content";
    }

    .content{
        background-color: #fda4af;
        grid-area: content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20px 3fr 20px 1fr 20px 1fr;
        grid-template-areas:
        "projecttitle"
        "projects"
        "announcementtitle"
        "announcements"
        "trendingtitle"
        "trending";
    }

    .dashboard{
        background-color: #9f1239;
        grid-area: dashboard;
        display: grid;
        align-items: center;
        height: 30%;
        margin-top: 5rem;
    }

    .dashtitle{
        font-size: 1.3rem;
    }

    .dashboard > a {
        display: flex;
        flex-direction: column;
    }

    .dashboard > a > img{
        height: 0;
    }
}




